<div ng-hide="editor.showing">
    <span ng-bind-html="value | parrafo"></span><button class="btn btn-default btn-xs" ng-click="toggleEditor()">Editar</button>
</div>


<div ng-show="editor.showing">
    <div ng-if="field == 'textarea'">
        <textarea ng-model="editor.value" class="form-control"></textarea>
    </div>
    
    <div ng-if="field != 'textarea'">
        <input type="{{field}}" ng-model="editor.value" class="form-control">
    </div>
    
    <hr>
    
    <button class="btn btn-success btn-xs" ng-click="save()">Guardar</button>
    
    <button class="btn btn-default btn-xs" ng-click="toggleEditor()">Cancelar</button>
    
</div>